* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

body {
  background: #a3c2c2;
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: whitesmoke;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: black;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  background-color: #c2d6d6;
  opacity: 0.6;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  width: 320px;
  background: transparent;
  color: black;
  margin: 5px;
  font-size: 14px;
}

.todo-input::placeholder {
  color: black;
}

.todo-button {
  padding: 14px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background: whitesmoke;
  border: 1px solid black;
  color: black;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 1px solid black;
  font-size: 14px;
}

.todo-button.edit {
  background: whitesmoke;
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: black;
  background: #b3cccc;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
  font-size: 16px;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  font-size: 25px;
  color: black;
}

.edit-icon {
  color: black;
  font-size: 25px;
}
